<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<meta http-equiv="Refresh" content=%(refresh_time)s; URL=http://%(host_name)s/>
<link rel="shortcut icon" href="../../image/favicon.ico"/>

<title>   %(html_title)s   </title>

%(bookmark_tmpl)s

</html>