
<div align="center">
<ul class="css-menu-2">
<li><a href="http://%(host_name)s/main/" %(main_sel)s>Main</a></li>
<li><a href="http://%(host_name)s/graf/" %(graf_sel)s>Navigator</a></li>
<li><a href="http://%(host_name)s/search/" %(search_sel)s>Search</a></li>
<li><a href="http://%(host_name)s/image/" %(image_sel)s>Images</a></li>
<li><a href="http://%(host_name)s/trackpreload/"%(track_preload_sel)s title="Первичная загрузка трэков в систему с заданного узла файловой системы ">TracksAdmin</a></li>
<li><a href="http://%(host_name)s/tagadmin/"%(tag_admin_sel)s title="Ведение трэковых тэгов">TagAdminn</a></li>
<li><a href="http://%(host_name)s/reports"%(reports_sel)s title="Ведение альбомов-артистов">AlbumAdmin </a></li>
<li><a href="http://%(host_name)s/admin/" %(admin_sel)s>Admin</a></li>
<li><a href="http://%(host_name)s/info/" %(info_sel)s>Info</a></li>
<li><a href="http://%(host_name)s" >Back to ...</a></li>
</ul>
</div>