<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

<meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1,text/html, charset=utf8">
<link rel="shortcut icon" href="../../image/favicon.ico"/>

<link rel="stylesheet" href="../../css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/demoStyles.css" />
<link rel="stylesheet" href="../../css/jquery12/jquery-ui.css" type="text/css" />

<link rel="stylesheet" href="../../css/fotorama.css" type="text/css"/>


<script src="../../js/knockout-3.4.2.js" type="text/javascript"> </script>
<script src="../../js/jquery12/jquery.js"></script>
<script src="../../js/jquery12/jquery-ui.js"></script>
<script src="../../js/mylib.js" type="text/javascript"></script> 
<script src="../../js/pdfobject.min.js" type="text/javascript"></script>
<script src="../../js/fotorama.min.js"></script>


<title>   %(html_title)s   </title>

<SCRIPT  TYPE="text/javascript"> 

var m_vM =  new function(){
	var self = this;
	self.alb_selected = ''
	self.search_object_selector = ko.observable('artist');
};

 $(document).ready(function(){
  
  ko.virtualElements.allowedBindings.text = true;	
  
  //ko.applyBindings(m_vM,$("#mainWindow")[0]);	
  //ko.applyBindings(alb_cmpl_M,$("#mainWindow")[0]);	
  //ko.applyBindings(sw_TEST_M);
 $( "#search_req_text_field" ).autocomplete({
			minLength: 2,
			delay: 500,
			source: function( request, response ) {
				
				$.ajax({
					
					url: 'http://' + host + '/medialib/image/',type: 'POST',dataType: "json",
					contentType:'multipart/form-data',
					data: ko.toJSON({
						object_data : {'object':m_vM.search_object_selector(),'search_term':request.term},
						search_process : 'get_album_autocompl_data'
						
					}),
					focus: function( event, ui ) {
					$( "#search_req_text_field" ).val( ui.item.key );
					return false;
					},
					success: function( data ) {
						json_data = data.autocoml_data
						response( $.map( json_data, function( item ) {	return {value: item.album, id: item.key, descr:item.name	}} ))
					},
			})},
			select:	function( event, ui ) {
				 $("#album_descr").html(ui.item.descr);
				 $( "#search_req_text_field" ).val( ui.item.value );
				 m_vM.alb_selected = ui.item.id;
				 sel_req = ko.toJSON({"image" : 'get_selected_album', 'album_crc32': ui.item.id,"srch_rep_mode":"images"})
				 
				 return do_send_json_req(sel_req)
				 
	}
		});
 });	


<!--

  var proc_mode = 0;
  var req = createRequestObject();
  var host = "%(host)s";
  var action_key = 0;
  var proc_name = "image";
  var autocompl_response = [];
 
 function processReqChange()
{
  var my_JSON_object = {};	
  
  try { // Важно!
    // только при состоянии "complete"
	//alert(req.readyState)
    if (req.readyState == 4) {
        // для статуса "OK"
        if (req.status == 200) {
		stopProgressBar()
		my_JSON_object = JSON.parse( req.responseText)
		
		for(var data in my_JSON_object) {
					//alert("Key:" + data + " Values:" + my_JSON_object[data]);
					if (data == 'search_result_frm'){
					
						
							document.getElementById("search_result_frm").innerHTML = my_JSON_object[data];
							$('.fotorama').fotorama();
							do_cancell_action()
																			   
					 
					}
					else if ( data == 'action_result'){
						//alert(my_JSON_object)
						if (my_JSON_object['action_result'] == 2){
						document.getElementById('action_go').type = "hidden";
						
						  
						
						do_cancell_action()
							
						}
						else if (my_JSON_object['action_result'] == 1){
							document.getElementById('play_butn').type = "button";
							document.getElementById('play_butn').style.background='BurlyWood'
							 
							document.getElementById('action_result').innerHTML = "Play result succesfuly!";
							do_cancell_action()
							}
							//else {
							//document.getElementById('action_result').innerHTML = "Changes succesfuly saved!";
								
							//}
						else if (my_JSON_object['action_result'] == 0){
								document.getElementById('play_butn').type = "hidden";
								document.getElementById('action_result').innerHTML = "Action failed with!";
								do_cancell_action()
							}
							
						else if (data == 'autocoml_data'){
						autocompl_response = my_JSON_object[data]
					}	
							
						}
						
						
						
						
					else if (data == 'action_key'){
							action_key = my_JSON_object[data]
					}
					
				} 
            
    }
  }
  }
  catch( e ) {
       //alert('Error in processReqChange in: ' + data + e);
      // В связи с багом XMLHttpRequest в Firefox приходится отлавливать ошибку
      // Bugzilla Bug 238559 XMLHttpRequest needs a way to report networking errors
      // https://bugzilla.mozilla.org/show_bug.cgi?id=238559
  }
}

function do_cancell_action() {
	proc_mode = 0
	
}

function send_Simple_Form(myForm,proc_name,param){
 
 
	selL = new Array();
	main_artist = "";
	artist_name = "";
	search_term = "";
        ref_artist = "";
	//alert(myForm.name);
	//ref_list = myForm.ref_artist_new;
	json_req = "{" +"\"" + 'form_name' +"\"" + ':' +"\"" + myForm.name + "\"" + ',';
	json_req = "{" +"\"" + proc_name +"\"" + ':' +"\"" + param + "\"" + ',';
 
	for (var i = 0; i < myForm.length; i++) {
        	var temp_el = myForm[i];    
		
		if ( temp_el.type == 'select-one'  ){
			json_req +=  "\"" + temp_el.name + "\"" + ':' + "\"" +temp_el.value + "\"" + ",";

		}	

		if ( temp_el.type == 'checkbox' ){
			json_req += "\"" + temp_el.name + "\"" + ':' + "\"" +temp_el.value + "\"" + ",";
		}

		if ( temp_el.type == 'text' ){
			json_req +=  "\"" + temp_el.name + "\"" + ':' + "\"" +temp_el.value + "\"" + ",";
		}
		
		
		} 
 
	json_req = json_req.substring(0,json_req.length-1)
	json_req += "}" 

			
		return do_send_json_req(json_req);
	}

function processSelected(proc_name,action_name,mode){
	
	selL = new Array();
    var selForm = document.getElementById('search_result_frm');
	
	var checkStatus = true;
	if ( mode == 'deselected'){
		checkStatus = false
		}
	
	//alert(selForm.length)
	
	json_req = "{" +"\"" + proc_name +"\"" + ':' +"\"" + action_name + "\"" + ',';
	json_req += "\"" + "action_mode" + "\"" + ':' + "\"" + mode +"\""+",";
	json_req += "\"" + "selL" + "\"" + ':' + "[";

		
	$( ".sel_track" ).each( function(i,elem) {
		
		if ( elem.checked == true ){
		json_req += elem.value  + ",";
	}}) ;
	
	
	
	//alert(json_req[json_req.length-1])
	if (json_req[json_req.length-1] == ','){
       	json_req = json_req.substring(0,json_req.length-1)
		}
	json_req +=  "]}"

	//alert(json_req)
	
	
 
	return do_send_json_req(json_req);;

}


function processGetPL(myForm){
	selL = new Array();

	//alert(myForm.toString())
	for (var i = 0; i < myForm.length; i++) {
		
        	var temp_el = myForm[i];    
		//alert(temp_el.type.toString())
		//alert(temp_el.value.toString())

	        if ( temp_el.type == 'select-one' ){
			selL.push(temp_el.value);

		}	
	
	}

	var params = 'name= play_entry' + ' getPL=['+ selL.toString()+ ']' ;	
	if ( selL.length > 0 ){
	req.open("POST", 'http://' + host + '/image/', true)
	req.setRequestHeader('Content-Type', 'multipart/form-data')
	req.send(params)
	//alert(params)
	}
	//alert(params)
	return null;

}
 




function set_form_layout() {
	
	
	document.getElementById('loading').style.visibility="hidden";
	return null;
	
	
}

function do_send_json_req(json_req){
	req.open("POST", 'http://' + host + '/medialib/image/', true)
	req.setRequestHeader('Content-Type', 'multipart/form-data','Pragma: no-cache','Expires: Mon, 26 Jul 1997 05:00:00 GMT','Cache-Control: no-store, no-cache, must-revalidate')

	
	req.onreadystatechange = processReqChange;
	//alert(json_req)
	req.send(json_req)
	startProgressBar()

	return false;

}

function navigation_control_send(param,indx,indx2) {
	
	req.open("POST", 'http://' + host + '/medialib/image/', false)
	req.setRequestHeader('Content-Type', 'multipart/form-data','Pragma: no-cache','Expires: Mon, 26 Jul 1997 05:00:00 GMT','Cache-Control: no-store, no-cache, must-revalidate')
        //req.setRequestHeader("Content-Length", json_req.length);
        //req.setRequestHeader("Connection", "close");
	if ( param == "goto_libL") {
	json_req = "{" +"\"" + "search_process" +"\"" + ':' +"\"" + param + "\"" +','+"\"" + "sel_idL" +"\"" + ':['+"\""+indx.toString()+"\""+"]}";	
	}	else {
	json_req = "{" +"\"" + "search_process" +"\"" + ':' +"\"" + param + "\"" +','+"\"" + "sel_idL" +"\"" + ':['+indx.toString()+','+indx2.toString()+"]}";
	}

	//alert(json_req)
	
	  
	

	return do_send_json_req(json_req);

}  
function search_req_send(form_id,proc_name,action_name,search_term) {
	//alert(form_id)
	selL = new Array();
    var selForm = document.getElementById(form_id);
	
	if ( proc_mode != "use_tag" ) {
		do_cancell_action();
		}
	
	
	var srch_rep_mode = 	document.getElementById('srch_rep_mode').value 
	var srch_rep_mode_str = "\"" + "srch_rep_mode" +"\"" + ':' +"\"" + srch_rep_mode + "\""+","
	
	json_req = "{" +"\"" + proc_name +"\"" + ':' +"\"" + action_name + "\"" +','+"\"" + "search_term" +"\"" + ':'+"\""+search_term+"\""+ ","+srch_rep_mode_str;
	
	json_req += "\"" + "selL" + "\"" + ':' + "[";
	
	
	
	var sel_meta_attrL = "";
	$( ".sel_meta_attr" ).each( function(i,elem) {
		
		if ( elem.checked == true ){
		sel_meta_attrL += "\""+elem.value +"\"" + ",";
}}) ;
	json_req += sel_meta_attrL
	
	
	if (json_req[json_req.length-1] == ','){
       	json_req = json_req.substring(0,json_req.length-1)
		}
		
	json_req += "]}";
	//alert(json_req)
	return do_send_json_req(json_req);

} 

 function getAvailableObjeList(request){
	alert(request)
	processSimpleRequest('search_process','get_album_autocompl_data','',request)
	//return [{'label':'1 gogo','value':'gogo','id':'1'},{'label':'2 moko','value':'moko','id':2},{'label':'3 koko','value':'koko','id':'3'}]
	//return [{'value':'gogo','id':'1'},{'value':'moko','id':2},{'value':'koko','id':'3'}]
} 

 window.onload = set_form_layout;

 


 
//--> 
</SCRIPT>

</head>

<body>
<div id="pagewidth" >
 <div id="header">
 	%(bookmark_tmpl)s
 </div>



<div id="search_block" align="center" > 
<br>
<FORM action=""   data-bind="submit: function() {return search_req_send(proc_name,'search_artist_db',$('#search_req_text_field').val(),$('#search_req_text_mass').val())}" enctype="multipart/form-data" >


<div class="ui-widget">
			<label for="search_req_text_field">Search: </label>
		<input id="search_req_text_field" placeholder="Track, Album, Artist" /> 
		
		<input name="do_search"  title="Search" value="Search" type="button" onclick="search_req_send(proc_name,'search_artist_db',this.form.search_req_text_field.value,$('#search_req_text_mass').val())">   	
		<span id="album_descr"></span>
		
</div>



<BR>



<SELECT id='srch_rep_mode' NAME="load_template"> 
	<OPTION  VALUE= "images" selected> Album Images </option> 
	<OPTION  VALUE= "with_pic_album" > Simple Album </option> 
</SELECT> 

<input name="get_cur_plist"  value="Current Album" type="button" onclick="search_req_send('search_req_form',proc_name,'get_cur_album','get_cur_album')"> 

<SPAN id="action_name"></SPAN>
<SPAN id="action_result"></SPAN>


</form>



 </div>
 


 <p> </p>
 
	%(search_part_new_tmpl)s
	


	<div id="loading"  align="center"><img src="../../image/ajax-loader.gif" /></div> 
</div>
 
</body>
</html>