<div align="center" width="1000">
<B>Selected %(res_lenth)s  entries, Overall Albums:%(album_num)s, %(info_str)s </B>
<FORM action="" METHOD="POST" id="search_result_frm" enctype='multipart/form-data' > 
 <input type="hidden" name="selector" value=1> 
<TABLE BORDER="0" style="table-layout:fixed;width:700px">
  <tr style="background-color:#FFBF00">
	<td style="width:250px"> Artist </td> <td style="width:40px"> Main </td> <td style="width:30px"> In Db </td> <td style="width:40px"></td> <td style="width:30px"> Song num </td> <td style="width:30px"> Album num </td> <td style="width:410px"> Albums </td>
  </tr>

%(search_res_list)s


</TABLE>
</FORM> 
  <B>Selected %(res_lenth)s  entries, Overall Albums:%(album_num)s </B>

</div>