<SCRIPT TYPE="text/javascript">
<!--
 
function setAllOn(pizzaForm) {
 
if ( pizzaForm.selector.value == 0){
 
        for (var i = 0; i < pizzaForm.length; i++) {
        var temp_el = pizzaForm[i];    
        if ( temp_el.type == 'checkbox' ){
                temp_el.checked = true;
        }
        }
        pizzaForm.selector.value = 1;
        }else{
 
for (var i = 0; i < pizzaForm.length; i++) {
        var temp_el = pizzaForm[i];    
        if ( temp_el.type == 'checkbox' ){
                temp_el.checked = false;
        }
        }
 
 
        pizzaForm.selector.value = 0;
 
}
}
  
//-->
</SCRIPT>