<FORM action="" METHOD="POST" enctype='multipart/form-data' id="search_result_frm" > 
 <input type="hidden" name="selector" value=1> 
<div align="center">
<TABLE BORDER="0">
<TR> <TD> <B>Selected %(res_lenth)s  entries </B></TD>

 
<TD>
</TD>
</TR>
  <tr style="background-color:#FFBF00">
	<td width="" "150"=""> Title </td> <td width="" "100"=""> Artist </td> <td width="" "100"=""> Album </td> <td width="" "10"=""> Format </td> <td width="" "3"=""> Bitrate </td> <td width="" "50"=""> Tags </td> 
  </tr>
%(search_res_list)s

<TR> <TD> <B>Selected %(res_lenth)s  entries </B></TD>

 
 
<TD>
</TD>
</TR>
</TABLE>
</div>
</FORM> 