<FORM action="" METHOD="POST" enctype='multipart/form-data' id="search_result_frm" > 
 <input type="hidden" name="selector" value=1> 
<div align="center">

<div class="fotorama" data-allowfullscreen="true"  data-width="1200" data-height="600" data-nav="thumbs" >


%(search_res_list)s
 </div>
</div>
</FORM> 