<TR style="background-color:%(color)s">
<TD width "150">
 <INPUT TYPE=CHECKBOX class="sel_track" NAME="search_entry" value = "%(tr_crc32)s "  CHECKED> %(track)s  </TD>
 <TD width "100" > %(artist)s </TD>	
 <TD width "100"> %(album)s </TD>
<TD width "10"> %(format)s  </TD>
<TD width "10"> %(bitrate)s  </TD>
<TD width "10"> %(ddl_part)s  </TD>
</TR>