<TR style="background-color:%(color)s">
<TD width "800" rowspan="%(images_num)s" valign="top">   

	<img src="/images/100_cover/%(album_crc32)s" name="cover" class="%(class_value)s" height="100" width="100" >

 </TD>
<TD>

 </TD>
</TR>