<FORM action="" METHOD="POST" enctype='multipart/form-data' id="search_result_frm" > 
 <input type="hidden" name="selector" value=1> 
<div align="center">
<TABLE BORDER="0">
<TR> <TD> <B>Selected %(res_lenth)s  entries </B></TD>

<TD>
</TD>
</TR>

%(search_res_list)s

<TR> <TD> <B>Selected %(res_lenth)s  entries </B></TD>

<TD>
</TD>
</TR>
</TABLE>
</div>
</FORM> 