<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ru">
<head>

<meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1,text/html, charset=utf8">

<link rel="shortcut icon" href="../../image/favicon.ico"/>

<link rel="stylesheet" href="../../css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/demoStyles.css" />
<link rel="stylesheet" href="../../css/jquery12/jquery-ui.css" type="text/css" />

<script src="../../js/knockout-3.4.2.js" type="text/javascript"> </script>
<script src="../../js/knockout.mapping.js" type="text/javascript"> </script>

<script src="../../js/jquery12/jquery.js"></script>
<script src="../../js/jquery12/jquery-ui.js"></script>

<script src="../../js/mylib.js" type="text/javascript"></script> 

  
<script src="../../js/pdfobject.min.js" type="text/javascript"></script>

<title>   %(html_title)s   </title>

<SCRIPT  TYPE="text/javascript"> 

<!--

var viewModel = new function(){
	var self = this;
	self.tracks = ko.mapping.fromJS([{ album: '', album_crc32: '',  format: '', TrackL: [] }]);
}	

var m_vM =  new function(){
	var self = this;
	self.is_trackL_load = ko.observable(false)
	self.update_mode = ko.observable(false);
	var search_object_selector = ko.observable('artist');
	self.view_trackL = ko.observableArray();

	self.loadTrackViewCntxt = function (server_respond) {
		var id = "";
		var d_title = "";
		var old_pl_list = 0;
		
		ko.mapping.fromJS(server_respond,{},viewModel.tracks);
		self.is_trackL_load(true); 
	}
	
};

$(document).ready(function(){
  

ko.applyBindings(viewModel, $("#vmtrackL")[0]);
ko.applyBindings(m_vM,$("#search_block")[0]);	


 $( "#search_req_text_field" ).autocomplete({
			minLength: 2,
			delay: 500,
			source: function( request, response ) {
				
				$.ajax({
					
					url: 'http://' + host + '/medialib/trackpreload/',type: 'POST',dataType: "json",
					contentType:'multipart/form-data',
					data: ko.toJSON({
						object_data : {'object':'artist','search_term':request.term},
						search_process : 'get_album_folder_autocompl_data',
						update_mode : m_vM.update_mode()
					}),
					focus: function( event, ui ) {
					$( "#search_req_text_field" ).val( ui.item.key );
					return false;
					},
					success: function( data ) {
						json_data = data.autocoml_data
						response( $.map( json_data, function( item ) {	return {value: item.album, id: item.key, descr:item.name	}} ))
					},
			})},
			select:	function( event, ui ) {
				 $("#album_descr").html(ui.item.descr);
				 
				 mode = 'new'
				 sel_req = ko.toJSON({"trackpreload" : 'get_tracks_selected_folder', 'album_crc32': ui.item.id,"srch_rep_mode":"trackpreload","update_mode":m_vM.update_mode()})
				 
				 return do_send_json_req(sel_req)
				 
	}
		});
 });	

  var proc_mode = 0;
  var req = createRequestObject();
  var host = "%(host)s";
  var action_key = 0;
  var proc_name = "trackpreload";
  var autocompl_response = [];
  
  
function text_req_send(proc_name,action_name,text_line) {
	//alert(param)
		
	json_req = "{" +"\"" + proc_name +"\"" + ':' +"\"" + action_name + "\"" +','+"\"" + "text_line" +"\"" + ':'+"\""+text_line+"\""+"}";

	return do_send_json_req(json_req);
}  
  
 function processReqChange()
{
  var my_JSON_object = {};	
  
  try { // Важно!
    // только при состоянии "complete"
	//alert(req.readyState)
    if (req.readyState == 4) {
        // для статуса "OK"
        if (req.status == 200) {
		stopProgressBar()
		my_JSON_object = JSON.parse( req.responseText)
		
		for(var data in my_JSON_object) {
					//alert("Key:" + data + " Values:" + my_JSON_object[data]);
					if (data == 'search_result_frm'){
							document.getElementById("search_result_frm").innerHTML = Base64.decode(my_JSON_object[data]);
							$('.fotorama').fotorama();
							do_cancell_action()
					}
					else if ( data == 'action_result'){
						//alert(my_JSON_object)
						if (my_JSON_object['action_result'] == 2){
						document.getElementById('action_go').type = "hidden";
						do_cancell_action()
							
						}
						else if (my_JSON_object['action_result'] == 1){
							document.getElementById('play_butn').type = "button";
							document.getElementById('play_butn').style.background='BurlyWood'
							 
							document.getElementById('action_result').innerHTML = "Play result succesfuly!";
							do_cancell_action()
							}
							//else {
							//document.getElementById('action_result').innerHTML = "Changes succesfuly saved!";
								
							//}
						else if (my_JSON_object['action_result'] == 0){
								document.getElementById('play_butn').type = "hidden";
								document.getElementById('action_result').innerHTML = "Action failed with!";
								do_cancell_action()
							}
							
						else if (data == 'autocoml_data'){
								autocompl_response = my_JSON_object[data]
							}

					}else if (data == 'tracks_view'){
						
							console.log(m_vM.is_trackL_load())
							m_vM.loadTrackViewCntxt(my_JSON_object[data].dataD.initial.albumL)
							console.log(m_vM.is_trackL_load())
							
							proc_state = 'no_srch_action'
							if ('proc_state' in my_JSON_object[data]){
							proc_state = my_JSON_object[data]['proc_state']
							}
					} //- IF 
			
						
							//try{
							//m_vM.add_searchItem(proc_state)
							//}
							//catch ( e ) {
								//alert ('Error: at add_searchItem:  '+e)
								//}
						
				} //- For 
		} // IF 200
	} //IF re state 4
  }
  catch( e ) {
       //alert('Error in processReqChange in: ' + data + e);
      // В связи с багом XMLHttpRequest в Firefox приходится отлавливать ошибку
      // Bugzilla Bug 238559 XMLHttpRequest needs a way to report networking errors
      // https://bugzilla.mozilla.org/show_bug.cgi?id=238559
  }
}

function do_cancell_action() {
	proc_mode = 0
	
}



function set_form_layout() {
	
	
	document.getElementById('loading').style.visibility="hidden";
	return null;
	
	
}

function do_send_json_req(json_req){
	req.open("POST", 'http://' + host + '/medialib/trackpreload/', true)
	req.setRequestHeader('Content-Type', 'multipart/form-data','Pragma: no-cache','Expires: Mon, 26 Jul 1997 05:00:00 GMT','Cache-Control: no-store, no-cache, must-revalidate')

	
	req.onreadystatechange = processReqChange;
	//alert(json_req)
	req.send(json_req)
	startProgressBar()

	return false;

}


 window.onload = set_form_layout;

//--> 
</SCRIPT>

</head>

<body>
<div id="pagewidth" >
 <div id="header">
 	%(bookmark_tmpl)s
 </div>



<div id="search_block" align="center" > 
<br>
<FORM action=""   data-bind="submit: function() {return search_req_send(proc_name,'search_artist_db',$('#search_req_text_field').val(),$('#search_req_text_mass').val())}" enctype="multipart/form-data" >


<div class="ui-widget">
			<label for="search_req_text_field">Search: </label>
		<input id="search_req_text_field" placeholder="Album, Artist" /> 
		Update mode: <INPUT  height="27" width="36" id="update_mode" TYPE="checkbox" name="in_album_search"  data-bind="checked: m_vM.update_mode">
		<input name="do_search"  title="Search" value="Search" type="button" onclick="search_req_send(proc_name,'search_artist_db',this.form.search_req_text_field.value,$('#search_req_text_mass').val())">   	
		<span id="album_descr"></span>
		
</div>

<BR>



<input name="get_cur_plist"  value="Current Playing Album" type="button" onclick="text_req_send(proc_name,'get_tracks_cur_play_folder',m_vM.update_mode())"> 


<SPAN id="action_name"></SPAN>
<SPAN id="action_result"></SPAN>
<span style="width:50px" id="loading"  align="center"><img style="width:50px" src="../../image/ajax-loader.gif" /></span> 
</form>
 </div>
	
	
</div>
<BR><BR>

<div id = 'vmtrackL'>
 	
		<ul style="list-style: none;" data-bind='visible: m_vM.is_trackL_load(), foreach: viewModel.tracks' >
					<li style="height: 20px;">
					<ul style="list-style: none; padding: 5px; border: 1px solid white;">		
						<li style="display:inline;float:left;position:relative;width:650px;">
							<span >  Album </SPAN>
						</li>	
						
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span > NSA </SPAN>
					</li>
					
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span >  Frmt </SPAN>
					</li>	
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span > Cue </SPAN>
					</li>		
					
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span > trNum </SPAN>
					</li>
					
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span> inDB</SPAN>
					</li>
					
					
					
					</ul>	
					
					<li style="height: 40px;">
					<ul style="list-style: none; padding: 10px; background-color: rgb(240, 255, 240); border: 3px solid white;">		
						<li style="display:inline;float:left;position:relative;width:650px;">
							<span  data-bind="text: $data.album"> </SPAN>
						</li>	
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span data-bind="text: $data.NSA"> </SPAN>
					</li>
					
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span data-bind="text: $data.format"> </SPAN>
					</li>	
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span data-bind="text: $data.cue"> </SPAN>
					</li>		
					
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span data-bind="text: $data.tracks_number"> </SPAN>
					</li>
					
					<li style="display:inline;float:left;position:relative;width:40px;">
						<span data-bind="text: $data.db_album"> </SPAN>
					</li>
					
					<li style="display:inline;float:left;position:relative;width:70px;">
						<input data-bind="attr: {  id: $data.album_crc32 }"} name="play_album"  value="Play" type="button" onclick="text_req_send(proc_name,'play_album',this.id)"> 
					</li>	
					<li style="display:inline;float:left;position:relative;width:70px;">
						<input data-bind="attr: {  id: $data.album_crc32 }"} name="save_tracks"  value="Save" type="button" onclick="text_req_send(proc_name,'save_tracks',this.id)"> 
					</li>
					
					<li style="display:inline;float:left;position:relative;width:70px;">
						<input data-bind="attr: {  id: $data.album_crc32 }"} name="remove_tracks"  value="Remove" type="button" onclick="text_req_send(proc_name,'remove_tracks',this.id)"> 
					</li>
					
					</ul>	
					</li>	
					<BR>
					<ul>		
							<li style="display:inline;float:left;position:relative;width:20px;">
								<span>  N</SPAN>
							</li>		
							<li style="display:inline;float:left;position:relative;width:250px;">	
								<span>   Artist </SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:400px;">
								<span>   Title </SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span>  Time </SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span>  BitR </SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span>  db_tr </SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span>  db_art </SPAN>
							</li>
								
						</ul>
					<BR>	
					<ul style="list-style: none;" data-bind='foreach: TrackL'>		
					<li style="height: 30px;">	
						<ul style="list-style: none; padding: 10px; background-color: rgb(224, 255, 255); border: 3px solid white;">		
							<li style="display:inline;float:left;position:relative;width:20px;">
								<span data-bind="text: number"> </SPAN>
							</li>		
							<li style="display:inline;float:left;position:relative;width:250px;">	
								<span  data-bind="text: artist"></SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:400px;">
								<span data-bind="text: title"> </SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span data-bind="text: time"></SPAN>
							</li>	
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span data-bind="text: bitrate"></SPAN>
							</li>		
							
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span data-bind="text: db_track"></SPAN>
							</li>
							<li style="display:inline;float:left;position:relative;width:50px;">
								<span data-bind="text: db_artist"></SPAN>
							</li>
							<li style="display:inline;float:left;position:relative;width:100px;">
								<input data-bind="attr: {  id: $data.track_crc32 }"} name="play_track"  value="Play check" type="button" onclick="text_req_send(proc_name,'play_track',this.id)"> 
							</li>	
						</ul>
					</li>
					</ul>
					</li>	
				</ul>
				

</div>	
	

 
</body>
</html>